{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "scripts": {
    "lint": "eslint . --ext .ts",
    "lint-and-fix": "eslint . --ext .ts --fix"
  },
  "rules": {
    "no-console": 2,
    "comma-dangle": ["error", "never"],
    "semi": "off",
    "@typescript-eslint/semi": ["warn"]
  }
}
