<app-playlist-form-new
  *ngIf="!selectedPlaylist"
  (addNewPlaylist)="handleAddNewPlaylist()"
  [edited]="edited"
></app-playlist-form-new>

<app-playlist-detail
  *ngIf="selectedPlaylist && edited && !edited.id"
  [active]="active"
  (setEditedPlaylist)="handleSetEditedPlaylist($event)"
>

</app-playlist-detail>

<app-card
  *ngIf="selectedPlaylist && edited && !!edited.id"
  [title]=" 'Edit Playlist' "
  [description]=" 'You can edit all fields of your playlist here' "
>

  <div class="card-body">
    <div class="form-group">
      <label for="add_name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="add_name"
        [(ngModel)]="edited.name"
      />
    </div>
    <div class="form-group">
      <label for="add_tracks">Tracks</label>
      <input
        type="number"
        class="form-control"
        id="add_tracks"
        [(ngModel)]="edited.tracks"
      />
    </div>
    <div class="form-group">
      <label for="add_color">Color</label>
      <input
        type="color"
        class="form-control"
        id="add_color"
        [(ngModel)]="edited.color"
      />
    </div>
    <div class="form-group">
      <label for="add_favourite" class="m-0 p-0 position-static">
        <input
          type="checkbox"
          class="form-check-input m-0 p-0 position-static"
          id="add_favourite"
          [(ngModel)]="edited.favourite"
        />
        <span class="pl-3">Favourite</span>
      </label>
    </div>
    <div class="form-group">
      <button
        class="btn text-white float-left"
        (click)="handleSavePlaylist()"
        [ngStyle]="getButtonColors()"
      >
        Save
      </button>

      <button
        class="btn text-white float-right"
        (click)="handleCloseEdit()"
        [ngStyle]="getButtonColors()"
      >
        Close
      </button>
    </div>
  </div>

</app-card>
