
<div class="list">

  <div class="list__row list__header" [ngStyle]="{borderBottomColor: themeColor}">
    <h6 class="list__header__item">#</h6>
    <h6 class="list__header__item">Name</h6>
    <h6 class="list__header__item">Tracks</h6>
    <h6 class="list__header__item">Favourite</h6>
  </div>

  <app-playlist-list-row
    *ngFor="let playlist of playlists; let i = index"
    [index]="i"
    [playlist]="playlist"
    (showPlaylist)="handleShowPlaylist($event)"
  ></app-playlist-list-row>

</div>
