.list {
  background-color: white;
  border-radius: .25rem;
  color: #3a3a3a;
  padding: 1rem;
  margin-bottom: 2rem;

  &__header {
    border-bottom: 2px solid;

    &__item {
      font-weight: bold;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 2rem minmax(200px, 1fr) 4rem 5rem;
    align-items: center;
    width: 100%;
  }
}
