<div class="container" [attr.id]="title + '-container'">

  <div class="row p-3">

    <div class="col-lg-6">
      <app-playlist-list
        [themeColor]="themeColor"
        [playlists]="playlists"
        (showPlaylist)="showPlaylist($event)"
      ></app-playlist-list>
    </div>

    <div class="col-lg-6">
      <app-playlist-form
        [edited]="edited"
        [selectedPlaylist]="selectedPlaylist"
        [activePlaylist]="activePlaylist"
        [themeColor]="themeColor"
        (setEditedPlaylist)="setEditedPlaylist($event)"
        (addNewPlaylist)="addNewPlaylist()"
        (savePlaylist)="savePlaylist()"
        (closeEdit)="closeEdit()"
      ></app-playlist-form>
    </div>

  </div>

</div>
