<div class="container" [attr.id]="title + '-container'">

  <div class="row p-3">

    <div class="col-lg-6">

      <div class="list">

        <div class="list__row list__header" [ngStyle]="{borderBottomColor: themeColor}">
          <h6 class="list__header__item">#</h6>
          <h6 class="list__header__item">Name</h6>
          <h6 class="list__header__item">Tracks</h6>
          <h6 class="list__header__item">Favourite</h6>
        </div>

        <div *ngFor="let playlist of playlists; let i = index" class="list__row">
          <span> {{ i + 1 }} .</span>
          <span class="list__item font-weight-bold" [ngStyle]="{color: playlist.color}">
              <button class="list__item__button" (click)="setEditedPlaylist(playlist.id)">
                {{ playlist.name }}
              </button>
            </span>
          <span class="list__item"> {{ playlist.tracks }} </span>
          <span class="list__item">
              <span [ngClass]="{'list__item__favourite': playlist.favourite}">
                <input
                  type="checkbox"
                  class="form-check-input position-static m-0 p-0"
                  id="favourite"
                  [(ngModel)]="playlist.favourite"
                />
                <label for="favourite" class="d-none form-check-label"></label>
              </span>
            </span>
        </div>

      </div>

    </div>

    <div class="col-lg-6">

      <div *ngIf="selectedPlaylist === null" class="card">
        <div class="card-body">
          <h4>New playlist</h4>
          <p class="m-0">Create new playlist</p>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label for="create_name">Name:</label>
            <input
              type="text"
              class="form-control"
              id="create_name"
              [(ngModel)]="edited.name"
            />
          </div>
          <div class="form-group">
            <button
              class="btn text-white float-right"
              (click)="addNewPlaylist()"
              [ngStyle]="getButtonColors()"
            >
              Create
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="selectedPlaylist !== null" class="card">
        <div class="card-body">
          <h5 class="card-title">Playlist</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore officia quaerat sit.</p>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label for="add_name">Name:</label>
            <input
              type="text"
              class="form-control"
              id="add_name"
              [(ngModel)]="edited.name"
            />
          </div>
          <div class="form-group">
            <label for="add_tracks">Tracks</label>
            <input
              type="number"
              class="form-control"
              id="add_tracks"
              [(ngModel)]="edited.tracks"
            />
          </div>
          <div class="form-group">
            <label for="add_color">Color</label>
            <input
              type="color"
              class="form-control"
              id="add_color"
              [(ngModel)]="edited.color"
            />
          </div>
          <div class="form-group">
            <label for="add_favourite" class="m-0 p-0 position-static">
              <input
                type="checkbox"
                class="form-check-input m-0 p-0 position-static"
                id="add_favourite"
                [(ngModel)]="edited.favourite"
              />
              <span class="pl-3">Favourite</span>
            </label>
          </div>
          <div class="form-group">
            <button
              class="btn text-white float-left"
              (click)="savePlaylist()"
              [ngStyle]="getButtonColors()"
            >
              Save
            </button>

            <button
              class="btn text-white float-right"
              (click)="closeEdit()"
              [ngStyle]="getButtonColors()"
            >
              Close
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
