<main class="content" role="main">
  <div class="container" [attr.id]="title + '-container'">

    <div class="row p-3">

      <div class="col-lg-6">
        <div class="content__table list">
          <table class="w-100">
            <thead>
              <tr class="list__row" [ngStyle]="{borderBottomColor: themeColor}">
                <th class="list__header" scope="col">#</th>
                <th class="list__header" scope="col">Name</th>
                <th class="list__header" scope="col">Tracks</th>
                <th class="list__header" scope="col">Favourite</th>
              </tr>
            </thead>
            <tbody>
            <tr class="list__row">
              <th scope="row">1.</th>
              <td class="list__item font-weight-bold" [ngStyle]="{color: playlist.color}"> {{ playlist.name }} </td>
              <td class="list__item"> {{ playlist.tracks }} </td>
              <td class="list__item">
                <div [ngClass]="{'list__item__favourite': playlist.favourite}">
                  <input
                    type="checkbox"
                    class="form-check-input position-static m-0 p-0"
                    id="favourite"
                    [checked]="playlist.favourite"
                    (change)="handleChange($event,'favourite')"
                  />
                  <label for="favourite" class="d-none form-check-label"></label>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Playlist</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore officia quaerat sit.</p>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="add_name">Name:</label>
              <input
                type="text"
                class="form-control"
                id="add_name"
                [value]="playlist.name"
                (keyup)="handleChange($event, 'name')"
              />
            </div>
            <div class="form-group">
              <label for="add_tracks">Tracks</label>
              <input
                type="number"
                class="form-control"
                id="add_tracks"
                [value]="playlist.tracks"
                (change)="handleChange($event,'tracks')"
                (keyup)="handleChange($event,'tracks')"
              />
            </div>
            <div class="form-group">
              <label for="add_color">Color</label>
              <input
                type="color"
                class="form-control"
                id="add_color"
                [value]="playlist.color"
                (change)="handleChange($event,'color')"
              />
            </div>
            <div class="form-group">
              <label for="add_favourite" class="m-0 p-0 position-static">
                <input
                  type="checkbox"
                  class="form-check-input m-0 p-0 position-static"
                  id="add_favourite"
                  [checked]="playlist.favourite"
                  (change)="handleChange($event,'favourite')"
                />
                <span class="pl-3">Favourite</span>
              </label>
            </div>
            <div class="form-group">
              <button
                class="btn text-white float-right"
                (click)="handleSavePlaylist($event)"
                [ngStyle]="getButtonColors()"
              >
                Save
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>

<router-outlet></router-outlet>
