<main class="content" role="main">
<!--  <app-playlists [themeColor]="themeColor"></app-playlists>-->
<!--  <button>button</button>-->
<!--  <button class="btn">button</button>-->
<!--  <button class="btn btn&#45;&#45;light">button</button>-->
<!--  <button class="btn btn&#45;&#45;dark">button</button>-->
<!--  <input type="text" value="Input text" />-->
<!--  <input type="text" value="Input text" class="input" />-->
<!--  <input type="text" value="Input text" class="input input&#45;&#45;light" />-->
<!--  <input type="text" value="Input text" class="input input&#45;&#45;dark" />-->
  <app-music-search></app-music-search>
</main>

<router-outlet></router-outlet>
